<div class="wrapper">

  <ng-template #alertBlock>
    <mat-error>
      <h2>
        В избраном нету фильмов
      </h2>
    </mat-error>
  </ng-template>

  <div *appSpinner="preload">
    <div *ngIf="!isFavoriteListEmpty(filmsList); else alertBlock">
      <mat-grid-list cols=" 4" rowHeight="740px">
        <mat-grid-tile colspan="1" *ngFor="let film of filmsList">
          <app-film-item [film]="film" (favorite)="addToFavorite($event)"></app-film-item>
        </mat-grid-tile>
      </mat-grid-list>

      <app-pagination *ngIf="filmsList" [currentPage]="page" [lastPage]="lastPage" (page)="getNextPage($event)"></app-pagination>
    </div>
  </div>

</div>
