.login-wrapper .login .login-group .btn {
  margin-top: 2rem;
}

.error-message {
  color: red;
}

.login-form,
.login-pass-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-card-header {
  justify-content: center;
}

.example-full-width {
  width: 100%;
}
